.button {
    margin-block: 2rem;
    background-color: transparent;
    border: 1px solid #0096FF;
    padding: .5rem 1rem;
    color: #0096FF;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #0096FF;
    color: white;
}